@model IEnumerable<catalogo.Models.Producto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center my-4">Product List</h1>

<div class="container">
    <div class="mb-3 text-end">
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </div>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombreproducto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imagen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stock)
                </th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombreproducto)
                    </td>
                    <td>
                        @if (item.Imagen != null && item.Imagen.Length > 0)
                        {
                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.Imagen)" alt="Imagen del producto" class="img-thumbnail" style="width:100px; height:auto;" />
                        }
                        else
                        {
                            <span>No image</span>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                    <td class="text-center">
                        <a asp-action="Edit" asp-route-id="@item.Idproducto" class="btn btn-warning btn-sm">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Idproducto" class="btn btn-info btn-sm">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Idproducto" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
